<div class="mb-4 h2 text-sucess">Sign up</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Full Name"
      formControlName="fullName"
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Email"
      formControlName="email"
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Password"
      formControlName="password"
      type="password"
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="confirmPassword"
      formControlName="confirmPassword"
      type="password"
    />
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-success w-100 rounded-3">
      Register
    </button>
  </div>
</form>
